# Assignment 0 Questions

Add your answers to this Notebook. Some questions have templates to get your answer started, but feel free to add code cells as necessary.

## 1.) Error-Handling and Functions

### (a)

We will write a few versions of a function, `find_extremes`, that takes an ordinary Python list and returns a tuple containing the smallest and largest elements, in that order. Assume that the list elements can be of types:

- Any built-in numeric type convertable to a float

- String

For this part of the question, write a version that only accepts nonempty lists of numbers, and raises a `ValueError` otherwise, describing the issue:

In [1]:
# Example input
a = [2, 1, -4, 0.5, True, [3], [6,3], "hello", "-6"]

In [2]:
def find_extremes(arr):
    # TODO
    return

### (b)

Write a version of `find_extremes` that skips non-number elements. It should still raise an error if appropriate.

In [3]:
def find_extremes(arr):
    # TODO
    return

### (c)

It turns out that you can compare strings with strings (also lists with lists, and tuples with tuples) using `<`. Write a version of `find_extremes` that works with any list of compatibly-typed objects. It should still raise an error if appropriate.

In [4]:
def find_extremes(arr):
    # TODO
    return

## 2.) Arrays

In [5]:
import numpy as np
tiled = np.zeros((16,16))
for i in range(4):
    tiled[4*i : 4*(i+1), 4*i : 4*(i+1)] = i+1
tiled

array([[1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 2., 2., 2., 2., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 2., 2., 2., 2., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 2., 2., 2., 2., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 2., 2., 2., 2., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 3., 3., 3., 3., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 3., 3., 3., 3., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 3., 3., 3., 3., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 3., 3., 3., 3., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 4., 4., 4., 4.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 4., 4., 4., 4.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 4., 4., 4., 4.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 4., 4., 4., 4.]])

### (a)

Find the indices of the non-zero elements of `tiled`. That is, for every item in this array, find its row/column if it is not equal to zero. Your answer will have 2 rows: one corresponding to row position, the other corresponding to column position.

In [6]:
# Your answer should make this print 'True'
non_zero_indices = np.array([])
print(np.array(non_zero_indices).shape == (2, 64))

False

### (b)

Take only the non-zero entries of `tiled`, and compute the mean and standard deviation.

In [7]:
# YOUR CODE HERE

### (c)

We're going to work with NaNs now. First, turn all the zeroes in `tiled` into NaNs

In [8]:
# YOUR CODE HERE

### (d)

Take the non-NaN entries of `tiled`, and compute the mean and standard deviation. This can be done with one NumPy function - find it.

In [9]:
# YOUR CODE HERE

### (e)

Now let's do something slightly more complicated:

1. Split `tiled` into 25 distinct 3x3 tiles. The tiles should start in the top left of the array, and you won't include anything from the last row or column.
2. Compute the mean of each tile, ignoring NaNs.
3. Save the mean of each tile as an element in a new 5x5 array. For example, the second tile in the third row would be index [2, 1] in this new array.
4. Pickle this new array into a `results` directory (creating this directory if it doesn't exist)

In [10]:
# YOUR CODE HERE

## 3.) Plotting with matplotlib

In order to make sure you have a grasp on matplotlib, you will take the array provided below and plot its columns.

The first column is the independent data (x). All other columns are the dependent data (y).

Plot them all on the same graph, and add a legend with labels corresponding to each of the plots.

In [11]:
data = np.empty((20, 5))

data[:, 0] = np.arange(-10, 10)
data[:, 1] = 0.1*data[:, 0]
data[:, 2] = 0.05*data[:, 0]**2
data[:, 3] = np.sin(data[:, 0])
data[:, 4] = np.arctan(data[:, 0])

Plot the line in blue, the parabola in red, the sine wave in orange and the arctangent curve in green.

In [12]:
# YOUR CODE HERE

## 4.) Data Analysis

We will go through the basics of analyzing behavioral data. The data we will use is a simplified version of the kind of datasets you will work with in the next assignment. The numbers are random, so your results will look random, too.

In [13]:
# Use these functions to load the data
import pandas as pd
def get_example_data_index():
    '''Returns a DataFrame where each row contains metadata for an available experimental session'''
    return pd.read_csv(f"example_data/data_index.csv")
    
def load_example_session(subject, session):
    '''Parameters:
        subject: subject code (string)
        session: session number (zero-indexed)
    Returns:
        events: DataFrame logging behavioral data from the requested experimental session'''
    return pd.read_csv(f"example_data/subject_{subject}/session_{session}.csv")

In [14]:
# Loading the data
df = get_example_data_index()
df

  experiment  session subject
0     ltpFR2        0  LTP000
1     ltpFR2        1  LTP000
2     ltpFR2        2  LTP000
3     ltpFR2        3  LTP000

In [15]:
sess = df.query('session == 0').iloc[0]
load_example_session(sess.subject, sess.session)

,subject,time,session,list,serial_pos,type,item,recalled
0,LTP000,0.000000,0,1,1,WORD,ALIQUAM,0
1,LTP000,2657.702258,0,1,2,WORD,FERMENTUM,0
2,LTP000,4261.343509,0,1,3,WORD,MORBI,1
3,LTP000,6805.025174,0,1,4,WORD,AMET,0
4,LTP000,6962.010991,0,2,1,WORD,FAMES,0
5,LTP000,9557.563338,0,2,2,WORD,ANTE,1
6,LTP000,12140.294917,0,2,3,WORD,DOLOR,0
7,LTP000,14111.234255,0,2,4,WORD,AENEAN,1
8,LTP000,15754.742672,0,3,1,WORD,LOBORTIS,1
9,LTP000,17697.015088,0,3,2,WORD,IN,1
10,LTP000,18668.202675,0,3,3,WORD,MOLLIS,1
11,LTP000,21037.250610,0,3,4,WORD,ELEMENTUM,0
12,LTP000,23947.623235,0,4,1,WORD,CONSECTETUR,0
13,LTP000,25786.373445,0,4,2,WORD,EST,0
14,LTP000,26765.805230,0,4,3,WORD,DIAM,0
15,LTP000,28520.095653,0,4,4,WORD,IPSUM,1

### (a)

As we can see by using `get_example_data_index`, we have one subject, who completed 4 sessions. The "events" DataFrame contains all of the presented words, when they were presented, in which "list" they were presented, in which position in the list ("serial position") they were presented, and whether or not they were successfully recalled.

Let's start slow. In our subject's first session (so session 0), for the first word list, what was their recall rate? (That is, what fraction of the words were successfully recalled later?)

### (b)

Still focusing on the first session -- create a Series containing the recall rate for each word list, and compute the average recall rate across the word lists in this session

### (c)

For the first session, across all word lists, calculate recall rate as a function of serial position. Phrased differently: how often was the first item (or second item, third item, or fourth item) in a word list later successfully recalled?

### (d)

Before moving on to incorporating all of the sessions, let's plot some of our intermediate data. Make two plots of recall rate: one as a function of list number, the other as a function of serial position

### (e)

Now we're going to combine all of the subject's sessions! For each session, calculate recall rate as a function of list number (this is what you did in part (b)). Then average these results across all sessions to get the average recall rate as a function of list number. Plot these final results